# coding: utf-8

[general]

project     = TSconfig Reference
version     = main (development)
release     = main (development)
t3author    = TYPO3 Documentation Team
copyright   = since 2000 by the TYPO3 Documentation Team

description = The TSconfig Reference (TSref) is a true reference
      describing the User and Page TSconfig options.


[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = main
github_repository    = TYPO3-Documentation/TYPO3CMS-Reference-TSconfig
github_revision_msg  =
github_sphinx_locale =
project_contact      = mailto:documentation@typo3.org
project_discussions  =
project_home         =
project_issues       = https://github.com/TYPO3-Documentation/TYPO3CMS-Reference-TSconfig/issues
project_repository   = https://github.com/TYPO3-Documentation/TYPO3CMS-Reference-TSconfig.git
use_opensearch       =


[intersphinx_mapping]

h2document     = https://docs.typo3.org/m/typo3/docs-how-to-document/main/en-us/
t3coreapi     = https://docs.typo3.org/m/typo3/reference-coreapi/main/en-us/
t3sitepackage = https://docs.typo3.org/m/typo3/tutorial-sitepackage/main/en-us/
t3tca         = https://docs.typo3.org/m/typo3/reference-tca/main/en-us/
t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/main/en-us/
t3adminpanel    = https://docs.typo3.org/c/typo3/cms-adminpanel/main/en-us/
