# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# Attention:
#    LEAVE RIGHT SIDE EMPTY for a 'false' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'


project     = TypoScript Reference
version     = 7.6
release     = 7.6
t3author    = Documentation Team
copyright   = since 2000 by the TYPO3 Documentation Team

description = The TypoScript Reference (TSref) is a true reference
   describing the core Content Objects and functions available for
   Template building using the TypoScript template engine.


[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = 7-6
github_commit_hash   =
github_repository    = TYPO3-Documentation/TYPO3CMS-Reference-Typoscript
github_revision_msg  =
github_sphinx_locale =
project_contact      = mailto:documentation@typo3.org
project_discussions  = http://lists.typo3.org/cgi-bin/mailman/listinfo/typo3-project-documentation
project_home         = https://forge.typo3.org/projects/typo3cms-doc-typoscript
project_issues       = https://github.com/TYPO3-Documentation/TYPO3CMS-Reference-Typoscript/issues
project_repository   = https://github.com/TYPO3-Documentation/TYPO3CMS-Reference-Typoscript.git
use_opensearch       = https://docs.typo3.org/typo3cms/TyposcriptReference


[intersphinx_mapping]

; in this manual we actually use:

t3api      = https://typo3.org/api/typo3cms/
t3coreapi  = https://docs.typo3.org/TYPO3/CoreApiReference
t3tsconfig = https://docs.typo3.org/typo3cms/TSconfigReference
t3tssyntax = https://docs.typo3.org/typo3cms/TyposcriptSyntaxReference


# For a reference about this file see:
# https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/userroot/scripts/bin/conf-2015-10.Reference.Settings.cfg

